.idea/*
.gradle/*
build/android-profile/*
build/intermediates/*
BBMobile/android/app/build/*
BBMobile/android/build/android-profile/*
BBMobile/android/.gradle/*
BBMobile/android/local.properties
local.properties
