.idea/*
.gradle/*
build/android-profile/*
build/intermediates/*
BBMobile/android/app/build/*
BBMobile/android/build/android-profile/*
BBMobile/android/.gradle/*
BBMobile/android/local.properties
BBMobile/.gradle/4.3.1/*
BBMobile/.gradle/buildOutputCleanup/*
BBMobile/.vscode/.react/*
local.properties
bb/gradlew
bb/gradlew.bat
bb/.idea/*
bb/gradle/wrapper/*
BBMobile/ios/build/*
local.properties
