extends layout

block content
  h1= title
  table
    tbody
    thead
      tr
        th(align="center") Board Name
        th(align="center") Battery Level
        th(align="center") Date / Time 
      each row in Datarows
        tr
          td(align="center")=row.board_name
          td(align="center")=row.BatteryLevel
          td(align="center")=row.TimeBucket
