<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>878807026650-18uqrjij2a4ddg7rqprs4jmctls29s79.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878807026650-18uqrjij2a4ddg7rqprs4jmctls29s79</string>
	<key>API_KEY</key>
	<string>AIzaSyA_AEBhHFgVnumlhxedoD4uHjcmZ9oNp-I</string>
	<key>GCM_SENDER_ID</key>
	<string>878807026650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.burnerboard.BBMobile</string>
	<key>PROJECT_ID</key>
	<string>bbmobile-7b7da</string>
	<key>STORAGE_BUCKET</key>
	<string>bbmobile-7b7da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878807026650:ios:3b7264a7b728d546</string>
	<key>DATABASE_URL</key>
	<string>https://bbmobile-7b7da.firebaseio.com</string>
</dict>
</plist>